@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Overpass', sans-serif;
}

html,
body {
    font-family: 'PT Sans', sans-serif;
}

@layer utilities {
    .bg-white-backdrop {
        background-color: rgba(255, 255, 255, 0.503);
        backdrop-filter: blur(20px);
    }
}

@layer utilities {
    .bg-steel-blue-backdrop {
        background-color: #4746477a;
        backdrop-filter: blur(20px);
    }
}